<router-outlet></router-outlet>


<!--<app-friend-new (createNewFriendEvent) = "create($event)"></app-friend-new>-->
    <!--When creatNewFriendEvent emits - create($event runs)  ** create method must be in friend component -->
<!--<app-friend-list [friends]="friends" (deleteFriendEvent)= "delete($event)"></app-friend-list>-->
<!--[friends]= "friends" is looking at the value of the items in the array that is built in friends component export class-->

<!--****************make sure to add delete method to friend component.ts// dont have to if usin***********************-->

<!--{{ friends | json}}-->

