<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action = "/results" method="POST">
		Your Name : 
			<input type="text" name="name"><br>
		Dojo Location: 	
			<select name= "location">
				<option>Seattle</option>
				<option>Houston</option>
				<option>Chicago</option>
				<option>San Fran</option>
			</select><br>
		Favorite Language: 
			<select name= "language" >
				<option>Python</option>
				<option>C Sharp</option>
				<option>MEAN</option>
				<option>Ruby</option>
			</select><br>
		Comment:	<br>
			<textarea name ="comment" cols="50" rows = "3"></textarea><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>